{% sw_extends '@Storefront/storefront/layout/scroll-up.html.twig' %}
{% block layout_scroll_up_button %}
	<div class="scroll-up-button js-scroll-up-button">
		<button type="submit" class="btn btn-primary" style="--ninja-bg-color-active: {{config('NINJAScrollToTopButton.config.OnClickColor')}}; --ninja-bg-color: {{config('NINJAScrollToTopButton.config.ButtonColor')}}; border-color: {{config('NINJAScrollToTopButton.config.BorderColor')}} ">
			{% block layout_scroll_up_button_icon %}
				<span style="--ninja-arrow-color: {{config('NINJAScrollToTopButton.config.ArrowColor')}}">
					{% sw_icon 'arrow-up' style { 'size': 'sm' } %}
				</span>
			{% endblock %}
		</button>
	</div>
{% endblock %}
